p 
{
  color:red;
}
h1
{
  color:blue;
  font-family: Verdana;
}
#id1
{
  color:blue;
  font-family: Verdana;
}
#id2

{
  text-align: center;
  color:red;
}

.bluev p
{
  color:blue;
  font-family: Verdana;
}

.center
{
  text-align: center;
  color:red;
}
